In [1]:
class car:
    def start(self):
        print("car started")
c1 =car()
c1.start()

car started

In [2]:
# defining a class in python
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    # behavior of the person(class)
    def display(self):
        print("name: ", self.name)
        print("age: ", self.age)
p1 = person("John", 30)
p1.display()

name:  John
age:  30

In [4]:
class student:
    school_name = "ABC School"  # class variable
    def __init__(self, name, age):
        self.name = name  # instance variable
        self.age = age    # instance variable
s1 = student("Alice", 20)

# accessing instance variables
print("Student Name: ", s1.name)
print("Student Age: ", s1.age)

# accessing class variable
print("School Name: ", student.school_name)

# Modify instance variables
s1.name="Rineeth"
s1.age=23
print("Student Name: ", s1.name)
print("Student Age: ", s1.age)

#Modify class variable
student.school_name = "XYZ School"
print("School Name: ", student.school_name)

Student Name:  Alice
Student Age:  20
School Name:  ABC School
Student Name:  Rineeth
Student Age:  23
School Name:  XYZ School

In [12]:
#Modify the object properties
class student:
    def __init__(self,name,grade,school):
        self.name = name
        self.grade = grade
        self.school = school
    def display(self):
        print("Name:", self.name, "Grade:", self.grade, "School:", self.school)

# create an instance using the new class definition
s1 = student("Alice", "A", "ABC School")

# Modify the object properties
s1.name = "Rineeth"
s1.grade = "A+"

s1.display()

#del s1.school
#print(s1.school)  # This will raise an AttributeError since 'school' has been deleted

Name: Rineeth Grade: A+ School: ABC School

In [ ]:
# Default constructor
class person:
    pass
p1 =person()
p1.name="Rineeth"
p1.age=24
print("Name: ", p1.name)
print("Age: ", p1.age)

Name:  Rineeth
Age:  24

In [14]:
#Default constructor with parameters
class person:
    def __init__(self,name="Rineeth",age=24):
        self.name = name
        self.age = age
p1 =person()
print("Name: ", p1.name)
print("Age: ", p1.age)

Name:  Rineeth
Age:  24

In [ ]:
#Non-parameterized constructor
class company:
    def __init__(self):
        self.company_name = "ABC Company"
        self.location=-"Hyderabad"
c1=company()
print("Company Name: ", c1.company_name)
print("Location: ", c1.location)

TypeError: bad operand type for unary -: 'str'