In [1]:
data1 ={"name":"Rineeth","Age":22,"Role":"ML Engineer"}
print(data1)

{'name': 'Rineeth', 'Age': 22, 'Role': 'ML Engineer'}

In [5]:
person = dict({"name":"Rineeth","Age":22,"Role":"ML Engineer"})
print(person)
print(person['Role'])

{'name': 'Rineeth', 'Age': 22, 'Role': 'ML Engineer'}
ML Engineer

In [4]:
person = {"name":"Rineeth","Grade":10,"marks":[80,90,93,99]}
print(person)
print(person['marks'])

{'name': 'Rineeth', 'Grade': 10, 'marks': [80, 90, 93, 99]}
[80, 90, 93, 99]

In [9]:
data = {"role":"Ai engineer","company":"xyz","Salary":40000}
print(data.keys())
print(data.values())
print(data.items())
print(type(data.items()))

dict_keys(['role', 'company', 'Salary'])
dict_values(['Ai engineer', 'xyz', 40000])
dict_items([('role', 'Ai engineer'), ('company', 'xyz'), ('Salary', 40000)])
<class 'dict_items'>

In [ ]:
person = {"name":"Rineeth","Age":22,"Role":"Software Engineer","Salary":32500.24}
print('key',':','value')
for key in person:
    print(key,':',person[key])

key : value
name : Rineeth
Age : 22
Role : Software Engineer
Salary : 32500.24

In [11]:
text = "apple banana apple"
freq = {}
for word in text.split():
    freq[word] = freq.get(word, 0) + 1
print(freq)

{'apple': 2, 'banana': 1}

In [12]:
students = {"Rineeth": [85, 90, 88],"venepally": [78, 80, 79],"Rao": [92, 95, 94]
}
for name, marks in students.items():
    avg = sum(marks) / len(marks)
    print(name, "Average:", avg)

Rineeth Average: 87.66666666666667
venepally Average: 79.0
Rao Average: 93.66666666666667

In [13]:
numbers = [1,2,3,4,5,6]

grouped = {"even": [], "odd": []}

for num in numbers:
    if num % 2 == 0:
        grouped["even"].append(num)
    else:
        grouped["odd"].append(num)

print(grouped)

{'even': [2, 4, 6], 'odd': [1, 3, 5]}

In [18]:
# Nested Dictionary
data ={"user1": {"age": 25, "city": "Hyderabad"},
    "user2": {"age": 30, "city": "Mumbai"}}
for user, details in data.items():
        print(user,details["city"])
        print(user,details["age"])

user1 Hyderabad
user1 25
user2 Mumbai
user2 30

In [19]:
metrics = {
    "accuracy": 0.91,
    "precision": 0.88,
    "recall": 0.85
}

for metric, value in metrics.items():
    print(metric, ":", value)

accuracy : 0.91
precision : 0.88
recall : 0.85

In [21]:
places = [
     "Colorado",
     "Chicago",
     "Boston",
     "Minnesota",
     "Milwaukee",
     "Seattle",
]

teams = [
   "Rockies",
   "White Sox",
   "Red Sox",
    "Twins",
    "Brewers",
   "Mariners",
 ]

dict(zip(places, teams))

{'Colorado': 'Rockies',
 'Chicago': 'White Sox',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

In [22]:
squares ={}
for integer in range(1,10):
    squares[integer] = integer**2
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [23]:
squares = {integer: integer**2 for integer in range(1, 10)}
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}