In [2]:
t = (1, 2, 3, 4, 5)
print(type(t))
print("Length of tuple t:", len(t))
print("Maximum value in tuple t:", max(t))
print("Minimum value in tuple t:", min(t))
print("Sum of all values in tuple t:", sum(t))
print("Average of all values in tuple t:", sum(t)/len(t))

<class 'tuple'>
Length of tuple t: 5
Maximum value in tuple t: 5
Minimum value in tuple t: 1
Sum of all values in tuple t: 15
Average of all values in tuple t: 3.0

In [3]:
# packing and unpacking of tuple
t1 = 10, 20, 30
print("Tuple t1:", t1)
a, b, c = t1
print("Values after unpacking t1:")
print("a:", a)
print("b:", b)
print("c:", c)

Tuple t1: (10, 20, 30)
Values after unpacking t1:
a: 10
b: 20
c: 30

In [4]:
# Iterating the tuple
t1= (1,8,"Rineeth", 4.5)
for tuple in t1:
    print(tuple)

1
8
Rineeth
4.5

In [9]:
# find within the range
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80)
#index out of range
position= tuple1 .index(10)
print(position)

0

In [11]:
# count the occurrences of a value in the list
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80,20,)
count = tuple1.count(20)
print("Count of value 20:", count)

Count of value 20: 2

In [13]:
# Nested Tuples
nested_tuple = ((1, 2), (3, 4), ("Python", "Java"))
print("Nested Tuple:", nested_tuple)
print(nested_tuple[2][0])

for i in nested_tuple:
    for j in i:
        print(j, end=' ')

    print("\n")

Nested Tuple: ((1, 2), (3, 4), ('Python', 'Java'))
Python
1 2

3 4

Python Java