In [ ]:
list = ["hello", "welcome", "to","python"]
for i in list:
    print(i)

hello
welcome
to
python

In [2]:
for i in range(1,10,3):
    print(i)

1
4
7

In [4]:
for i in "hello Python":
    if i=="e" or i=="l":
        #continue
        break
    print(i)

h

In [2]:
count =0
while (count<3):
    count +=1
    print("Hello Python")

Hello Python
Hello Python
Hello Python

In [1]:
i=1
while i<6:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [3]:
num=4
for i in range(0,num):
    print(i)

0
1
2
3

In [4]:
for i in range(0,3):
    for j in range(0,3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [5]:
for i in range(0,3):
    print(i)

0
1
2

In [6]:
color=["red", "green", "blue"]
items=["apple", "banana", "cherry"]
for i in range(len(color)):
    for j in range(len(items)):
        print(color[i], items[j])
        print("----")

red apple
----
red banana
----
red cherry
----
green apple
----
green banana
----
green cherry
----
blue apple
----
blue banana
----
blue cherry
----

In [3]:
value=(10,2,12,5)
count=0
for num in value:
    count +=num
    
    print("Sum is:", count)

Sum is: 10
Sum is: 12
Sum is: 24
Sum is: 29

In [5]:
# Prime Number
num=16
count=0
for i in range(1,num+1):
    if(num%i==0):
        count +=1
if(count==2):
    print(num, "is a prime number")
else:
    print(num, "is not a prime number")

16 is not a prime number

In [9]:
def Positive_Negative():
    for i in [5,9,-1]:
        if i>=0:
            print(i, "is Positive Number")
        else:
            print(i, "is Negative Number")
    else:
        print("Loop is ended")

Positive_Negative()

5 is Positive Number
9 is Positive Number
-1 is Negative Number
Loop is ended

In [6]:
for i in range(9,15):
    if(i%2==0):
        print(i, "is even number")

10 is even number
12 is even number
14 is even number

In [8]:
a =["Hello", "Welcome", "to", "Python"]
for i in a:
    print(i)
b={"name":"John", "age":30, "city":"New York"}
for i in b:
    print(i, ":", b[i])

Hello
Welcome
to
Python
name : John
age : 30
city : New York

In [9]:
# iterating by indexing
list =["Hello", "Welcome", "to","python"]
for i in range(len(list)):
    print(list[i])

Hello
Welcome
to
python

In [11]:
for i in range(1,6):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5