In [14]:
name = input("enter the name of user:")#rineeth
#name = name.capitalize()
#name  = name.lower()
#result = name.isdigit()
phone_no = input("enter phone number:")
#result= phone_no.count("")
result = phone_no.replace("-"," ")
print (result)

123 456 789

In [ ]:
#strip()----> used to remove whitespaces in start and end
str1="   Hello world!   "
print(str1.strip())

Hello world!

In [18]:
username = input("enter the username: ")
if len(username)>12:
    print("username should not have 12 characters")
elif not username.find(" ")== -1:
    print("your name can't contain spaces")
elif not username.isalpha():
    print("your username can't contain numbers")
else:
    print(f"welcome {username}")

your username can't contain numbers

In [ ]:
str1 ="1234-5678-9234"
print(str1[-9])
print(str1[::4])
print(str1[-4:])
print(str1[::-1])#reverse as string..

5
1-83
9234
4329-8765-4321

In [ ]:
#string formatting...
price1=3.14159
price2= -987.65
price3 = 12.34
print(f"price 1 is $ {price1:.2f}")
print(f"price2 is $ {price2:.1f}")
print(f"price3 is $ {price3:.1f}")

price 1 is $ 3.14
price2 is $ -987.6
price3 is $ 12.3

In [1]:
# iterating strings
for char in "Python":
    print(char)

P
y
t
h
o
n

In [2]:
a = "welcome to python programming"
print(len(a))

29

In [4]:
a= "python course"
b = a.replace("python","java")
print(b)

java course

In [7]:
#slicing
a ="Python program"
print(a[3:10])

hon pro

In [12]:
# trim spaces
a = "   Hello World!"
print(a.strip())

Hello World!

In [11]:
# lower and upper case conversion
a= "Welcome to Python"
print(a.upper())
print(a.lower())

WELCOME TO PYTHON
welcome to python

In [19]:
# split string values
a ="Hello world, welcome to python programming"
print(a.split(","))

b= "Welcome to python programming"
print(b.split(" "))
#print("/".join(b))

fruits = "apple,banana,grape,orange"
print(fruits.split(","))

['Hello world', ' welcome to python programming']
['Welcome', 'to', 'python', 'programming']
['apple', 'banana', 'grape', 'orange']

In [21]:
# split user input
user_input = input("enter multiple values separated by comma:")
values = user_input.split()
print(values)

['10', '20', '30']

In [24]:
# map() function
numbers = input("enter multiple numbers separated by comma:")
num_list = list(map(int, numbers.split(",")))
print(num_list)

[10, 20, 20]

In [25]:
nums =["10","20","30","40"]
result = list(map(int, nums))
print(result)

[10, 20, 30, 40]

In [29]:
#reduce() function
from functools import reduce
num =[1,2,3,4,5]
num2 =[1,2,3,4]
result =  reduce(lambda x,y: x+y, num)
result2 = reduce(lambda x,y:x*y,num2)

print(result)
print(result2)

15
24

In [27]:
# zip() function
names = ["alice","bob","charlie"]
ages = [25,30,35]
combined = list(zip(names, ages))
print(combined)

[('alice', 25), ('bob', 30), ('charlie', 35)]

In [30]:
# replace the _ in string
text ="Hello this is python programming language"
print(text.replace(" ","_"))

Hello_this_is_python_programming_language

In [32]:
#f strings
age= 22
name="Rineeth"
print(f"my name is:{name} and age is:{age}")

my name is:Rineeth and age is:22

In [33]:
#placeholders
price =60
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 60.00 dollars

In [46]:
#lowercase
text= "hello Python welcome to programming"
#print(text.lower())
print(text.capitalize())
print(text.count("welcome"))

print(text.endswith("programming"))

print(text.find("Python"))

print(text.index("to"))

print(text.isalpha())

Hello python welcome to programming
1
True
6
21
False